.section_two {
  min-height: 473px;
  width: 100%;

  &__description {
    padding-top: 70px;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: #0d0d0d;
  }

  &__achievements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    &-img {
      background-color: rgba($color: #ffffff, $alpha: 0.5);
      margin: 0 auto;
      width: 33%;
      img {
        display: block;
        width: 100%;
      }
      img.heart-beat {
        animation: heart-beat 2s ease-in-out infinite;
      }
    }
    &-expirions {
      padding-top: 35px;
      font-style: normal;
      font-weight: 700;
      font-size: 19px;
      text-align: center;
      color: #0d0d0d;
    }
    &-description {
      padding-top: 20px;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      text-align: center;
      line-height: 20px;
      a {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        text-align: center;
        text-decoration-line: underline;
        color: #ff0000;
      }
    }
  }
}
