* {
  font-family: "Museo Sans Cyrl", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 950px;
  margin: 0 auto;
}

.header {
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  padding: 21px 0 93px 0;
}

.header__logo {
  max-width: 250px;
}

.header__logo img {
  width: 100%;
}

.header__offical {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #ffffff;
}

.header__offical span {
  display: block;
  margin-top: 7px;
  font-size: 18px;
  text-align: center;
  color: #ffffff;
}

.header__contact-phone {
  display: block;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-align: right;
  color: #ffffff;
  margin-bottom: 4px;
}

.header__contact button {
  display: block;
  width: 153px;
  height: 32px;
  background: #c70101;
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.header__contact button:hover {
  color: #000;
  font-weight: bold;
  box-shadow: 0px 0px 10px #d5f3d5;
}

.section_one__selection {
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  text-align: right;
  text-transform: uppercase;
  color: #ffffff;
}

.section_one__preparation {
  font-style: normal;
  padding-top: 15px;
  font-weight: 500;
  font-size: 24px;
  text-align: right;
  text-transform: uppercase;
  color: #ffffff;
}

.section_one__button {
  display: block;
  width: 153px;
  height: 32px;
  background: #c70101;
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  cursor: pointer;
  align-items: right;
  width: 300px;
  height: 50px;
  font-size: 16px;
  margin-left: auto;
  margin-top: 65px;
}

.section_one__button:hover {
  color: #000;
  font-weight: bold;
  box-shadow: 0px 0px 10px #d5f3d5;
}

.section_one p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-align: right;
  color: #ffffff;
  margin-top: 5px;
}

.section_one p .section_one__catalog {
  padding-top: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  text-align: right;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}

.section_one p .section_one__catalog:hover {
  color: #c70101;
  font-weight: 700;
}

.advantages {
  display: flex;
  justify-content: right;
  text-align: center;
  align-items: center;
  padding-top: 64px;
}

.advantages__icon {
  min-width: 120px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  padding-right: 116px;
}

.advantages__icon:last-child {
  padding-right: 0;
}

.advantages__icon img {
  min-width: 45px;
  min-height: 45px;
  padding-top: 20px;
  margin: 0 auto;
  display: block;
  padding-bottom: 20px;
}

.wrapper {
  padding-top: 60px;
  max-width: 245px;
}

.section_two {
  min-height: 473px;
  width: 100%;
}

.section_two__description {
  padding-top: 70px;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  color: #0d0d0d;
}

.section_two__achievements {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}

.section_two__achievements-img {
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0 auto;
  width: 70px;
  height: 70px;
}

.section_two__achievements-img img {
  display: block;
  width: 100%;
}

.section_two__achievements-expirions {
  padding-top: 35px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  color: #0d0d0d;
}

.section_two__achievements-description {
  padding-top: 20px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  text-align: center;
}

.section_two__achievements-description a {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  text-align: center;
  text-decoration-line: underline;
  color: #ff0000;
}

.section_three {
  min-height: 680px;
  background: url(../img/background-2_img.png) center center/cover no-repeat;
}

.section_three__description {
  padding-top: 100px;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  text-transform: uppercase;
  line-height: 54px;
  color: #ffffff;
}

.section_three__description-form {
  padding-top: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

.form_flex {
  max-width: 260px;
  display: flex;
  align-items: flex-end;
  justify-content: left;
  flex-direction: column;
  padding: 36px 0 108px 0;
}

.form_flex__opacity {
  width: 100%;
  min-height: 55px;
  margin: 0px 0px 11px 20px;
  padding-left: 21px;
  font-size: 14px;
  border-radius: 10px;
  border: none;
}

.form_flex .consultation_btn {
  display: block;
  width: 153px;
  height: 32px;
  background: #c70101;
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  cursor: pointer;
  min-width: 100%;
  min-height: 55px;
  font-size: 16px;
  margin-left: 20px;
  border: none;
}

.form_flex .consultation_btn:hover {
  color: #000;
  font-weight: bold;
  box-shadow: 0px 0px 10px #d5f3d5;
}

.section_three form .error {
  border: 1px solid red;
}

.section_three form label.error {
  color: #ffffff;
  display: block;
  border: none;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 15px;
}

.slider {
  min-height: 742px;
}

.slider__pulsTraker {
  position: relative;
  padding: 80px 0;
  margin: 0 auto;
  width: 750px;
}

.slider__pulsTraker img {
  width: 100%;
}

.slider .slick-prev,
.slider .slick-next {
  position: absolute;
  top: 45%;
  left: -70px;
  background-color: #fff;
  border: none;
  width: 30px;
  height: 30px;
  border-top: 8px solid #ff0000;
  border-right: 8px solid #ff0000;
  transform: rotate(-135deg);
}

.slider .slick-prev:active,
.slider .slick-next:active {
  border-top: 8px solid #000000;
  border-right: 8px solid #000000;
  transition: 0.05s ease-out;
}

.slider .slick-next {
  right: -70px;
  left: auto;
  transform: rotate(45deg);
}

.section_catalog {
  min-height: 750px;
  padding-bottom: 80px;
}

.section_catalog__title {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #0d0d0d;
}

.section_catalog__tabs {
  margin: 40px 0 50px 0px;
  transform: skewX(-25deg);
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin-bottom: 57px;
}

.section_catalog__tab {
  width: 210px;
  height: 52px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #6b6b6b;
  border: 2px solid #d0d0d0;
  line-height: 48px;
  margin-right: 10px;
  transition: 0.5s all;
  cursor: pointer;
}

.section_catalog__tab:last-child {
  margin-right: 0px;
}

.section_catalog__tab:hover {
  box-shadow: 3px 3px 15px #ff0000;
}

.section_catalog__tab div {
  transform: skewX(25deg);
}

.section_catalog__tab div a {
  text-decoration: none;
  color: black;
}

.section_catalog .active_catalog__tab {
  background-color: #ff0000;
  color: #fff;
  border: none;
}

.section_catalog .active_catalog__tab a:first-child {
  color: white;
}

.section_catalog .active_catalog__tab:hover {
  box-shadow: 3px 3px 15px #000000;
}

.section_catalog .catalog__content {
  margin-top: 60px;
  display: none;
  justify-content: center;
  flex-wrap: wrap;
}

.section_catalog .catalog__content_active {
  display: flex;
}

.section_catalog .catalog__content .catalog-item {
  width: 300px;
  min-height: 440px;
  border: 2px solid #e8e8e8;
  padding: 20px 20px 26px 20px;
  overflow: hidden;
  margin: 0 10px 20px 0;
}

.section_catalog .catalog__content .catalog-item:nth-child(3n) {
  margin-right: 0px;
}

.section_catalog .catalog__content .catalog-item__img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: 200px;
}

.section_catalog .catalog__content .catalog-item__subtitle {
  margin-top: 20px;
  color: #0d0d0d;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}

.section_catalog .catalog__content .catalog-item__descr {
  margin-top: 16px;
  color: #0d0d0d;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
}

.section_catalog .catalog__content .catalog-item__link {
  display: block;
  margin-top: 17px;
  color: #ff0000;
  font-size: 14px;
  font-weight: 500;
  text-decoration: underline;
  text-align: center;
  text-transform: uppercase;
}

.section_catalog .catalog__content .catalog-item__link:hover {
  color: #ff0000;
}

.section_catalog .catalog__content .catalog-item hr {
  background-color: #e8e8e8;
  margin-top: 19px;
  margin-bottom: 21px;
  border-bottom: none;
}

.section_catalog .catalog__content .catalog-item__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section_catalog .catalog__content .catalog-item__old-price {
  color: #555555;
  font-size: 14px;
  font-weight: 300;
  text-decoration: line-through;
}

.section_catalog .catalog__content .catalog-item__price {
  color: #050505;
  font-size: 20px;
  font-weight: 700;
}

.section_catalog .catalog__content .catalog-item__wrapper {
  display: flex;
  width: calc(200% + 40px);
}

.section_catalog .catalog__content .catalog-item__content {
  width: 50%;
  margin-right: 0px;
  transform: translateX(-100%);
  transition: 0.5s all;
}

.section_catalog .catalog__content .catalog-item__content_active {
  transform: translateX(0%);
  margin-right: 20px;
}

.section_catalog .catalog__content .catalog-item__list {
  position: relative;
  width: 50%;
  margin-left: 20px;
  transform: translateX(0%);
  padding-right: 20px;
  transition: 0.5s all;
  padding-left: 19px;
  margin-bottom: 0;
  list-style-type: none;
}

.section_catalog .catalog__content .catalog-item__list_active {
  transform: translateX(-100%);
  margin-left: 0px;
}

.section_catalog .catalog__content .catalog-item__list li {
  position: relative;
  color: #555555;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 20px;
}

.section_catalog .catalog__content .catalog-item__list li:before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: #ff0000;
  left: -14px;
  top: 7px;
}

.section_catalog .catalog__content .catalog-item__back {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(calc(-50% - 19px));
  display: block;
  color: #ff0000;
  font-size: 14px;
  font-weight: 500;
  text-decoration: underline;
  text-transform: uppercase;
}

.section_catalog .catalog__content .catalog-item__back:hover {
  color: #ff0000;
}

button.button_mini {
  display: block;
  width: 153px;
  height: 32px;
  background: #c70101;
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  cursor: pointer;
  width: 40%;
}

button.button_mini:hover {
  color: #000;
  font-weight: bold;
  box-shadow: 0px 0px 10px #d5f3d5;
}

.feedback {
  min-height: 900px;
  padding: 0px 0 50px 0;
}

.feedback__description {
  margin: 0 auto;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #0d0d0d;
  margin-bottom: 60px;
}

.feedback__wrapper {
  display: flex;
  justify-content: left;
  padding-bottom: 60px;
}

.feedback__wrapper:last-child {
  padding-bottom: 0px;
}

.feedback__wrapper-avatar {
  width: 169px;
  height: 169px;
  margin-right: 60px;
}

.feedback__wrapper-avatar img {
  min-width: 100%;
}

.feedback__wrapper-firstname {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #0d0d0d;
  padding-bottom: 10px;
}

.feedback__wrapper-firstname span {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #646464;
}

.feedback__wrapper-commit {
  line-height: 25px;
  max-width: 680px;
  min-height: 169px;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  color: #0d0d0d;
}

.footer__map {
  min-height: 630px;
  position: relative;
}

.footer__map iframe {
  border: 1px solid #555555;
}

.footer__map-information {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 460px;
  min-height: 270px;
  background: #c70101;
  padding: 50px;
}

.footer__map-information_address {
  font-weight: 500;
  font-size: 20px;
  align-items: flex-end;
  text-align: center;
  color: #ffffff;
  margin-bottom: 36px;
  font-style: normal;
}

.footer__map-information_phone {
  display: block;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 36px;
}

.footer__map-information_phone:hover {
  color: #000;
}

.footer__map-information_wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}

.footer__map-information_social {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 53px;
  height: 52px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.0001);
  border: 2px solid #ffffff;
  margin-right: 27px;
  opacity: 0.5;
}

.footer__map-information_social:last-child {
  margin-right: 0px;
}

.footer__map-information_social:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.301);
}

.footer__map-information_social img {
  vertical-align: middle;
  height: 27px;
}

.overlay {
  display: none;
  top: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.56);
}

.modal {
  padding: 30px 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 380px;
  min-height: 300px;
  background-color: #f2f2f2;
}

.modal__close {
  position: absolute;
  top: -25px;
  right: -40px;
  font-size: 40px;
  color: #c25757;
  cursor: pointer;
}

.modal__subtitle {
  font-size: 19px;
  font-weight: 600;
  color: black;
  text-align: center;
}

.modal__description {
  line-height: 36px;
  font-size: 16px;
  font-weight: 700;
  color: black;
  text-align: center;
}

.modal .modal_form {
  padding: 0;
  padding-top: 20px;
  max-width: 100%;
}

.modal button {
  margin-bottom: 0px;
}

.modal .error {
  border: 1px solid red;
}

.modal label.error {
  display: block;
  border: none;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 15px;
}

.desc_fz {
  margin-top: 20px;
  line-height: 20px;
  font-size: 14px;
}

.modal_mod {
  min-height: 140px;
}

#consultation,
#order,
#thanks {
  display: none;
}

@media (max-width: 1240px) {
  .promo .header {
    justify-content: space-around;
  }
  .promo .section_one__selection {
    text-align: center;
    font-size: 2.5em;
  }
  .promo .section_one__preparation {
    text-align: center;
    font-size: 1.5em;
  }
  .promo .advantages {
    justify-content: center;
    padding-right: 0;
  }
  .promo .section_one__button {
    margin-right: 5%;
  }
  .promo .section_one__catalog {
    padding-right: 5%;
  }
  .section_two__achievements {
    display: flex;
    justify-content: space-around;
  }
}

@media (max-width: 991px) {
  .section_three__description {
    text-align: center;
    font-size: 2.5em;
  }
  .section_three__description-form {
    text-align: center;
    font-size: 1.5em;
  }
  .form_flex {
    margin: 0 auto;
    padding: 40px 0px;
  }
  .slider .slider__pulsTraker {
    width: 50%;
  }
  .slider .slider__pulsTraker img {
    width: 100%;
  }
  section.slider {
    min-height: auto;
  }
  .section_catalog .catalog__content .catalog-item:nth-child(3n) {
    margin-right: 10px;
  }
  .feedback__wrapper {
    flex-direction: column;
    align-items: center;
    line-height: 15px;
    font-size: 16px;
    padding: 0 20px;
  }
  .feedback__wrapper-avatar {
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .feedback__wrapper-firstmane {
    padding: 15px 0;
  }
  .feedback__wrapper span.span {
    display: block;
  }
  .feedback__wrapper-commit {
    font-size: 15px;
  }
  .feedback__wrapper br {
    display: none;
  }
}

@media (max-width: 767px) {
  .section_two__achievements {
    flex-direction: column;
  }
  .section_two__achievements:last-child {
    padding-bottom: 20px;
  }
  .section_three {
    min-height: auto;
  }
  .section_three .slick-prev {
    left: -50px;
  }
  .section_three .slick-next {
    right: -50px;
  }
  .slick-slide.slick-current.slick-active {
    min-width: 300px;
  }
  .slick-slide.slick-current.slick-active img {
    max-width: 60%;
    height: auto;
    max-height: 100%;
  }
  .section_three__description {
    padding: 50px 25px 25px 25px;
    font-size: 30px;
    line-height: 30px;
  }
  .section_three__description-form {
    font-size: 20px;
  }
  .feedback__description {
    font-size: 25px;
  }
  .section_catalog__tabs {
    padding: 0 15px;
  }
  .section_catalog__tab {
    font-size: 1rem;
    width: 30%;
  }
}

@media (max-width: 651px) {
  .header {
    flex-direction: column;
  }
  .header__offical {
    display: none;
  }
  .header__contact {
    margin-top: 10px;
  }
  .section_one .section_one__selection {
    font-size: 30px;
  }
  .advantages {
    padding-top: 30px;
  }
  .advantages .advantages__icon {
    padding-right: 0px;
  }
  button.button.section_one__button {
    margin: 0 auto;
    margin-top: 25px;
    width: 80%;
  }
  .section_one p {
    text-align: center;
  }
  section.slider {
    min-height: auto;
  }
  .slider .slick-prev,
  .slider .slick-next {
    width: 15px;
    height: 15px;
    border-top: 4px solid #ff0000;
    border-right: 4px solid #ff0000;
  }
}

@media (max-width: 575px) {
  .catalog-item {
    margin: 0 10px 20px 0;
  }
  .section_catalog__tab {
    font-size: 13px;
    width: 30%;
  }
}

@media (max-width: 450px) {
  .feedback__wrapper-avatar {
    padding-top: 25px;
    width: 100px;
    height: auto;
  }
  .feedback__wrapper-avatar img {
    width: 60px;
  }
  .section_catalog__tab {
    font-size: 10px;
    width: 30%;
  }
}

.promo {
  height: 650px;
  width: 100%;
  background: url(../img/background_img.png) center center/cover no-repeat;
}
/*# sourceMappingURL=style.css.map */